<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>patches</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>D9F20B21-0E21-4F16-8E82-C1F74A8D4FB9</string>
			<key>apiVersion</key>
			<integer>3</integer>
			<key>appIdentifier</key>
			<string>com.johncoates.Flex</string>
			<key>author</key>
			<string>MMzhang</string>
			<key>cloudDescription</key>
			<string>biubiubiu~~~</string>
			<key>cloudID</key>
			<integer>44967</integer>
			<key>downloadDate</key>
			<integer>1536643841</integer>
			<key>name</key>
			<string>Flex开启编辑本地补丁【收藏】</string>
			<key>switchedOn</key>
			<true/>
			<key>tableViewIndex</key>
			<integer>45</integer>
			<key>units</key>
			<array>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>FLPatch</string>
						<key>displayName</key>
						<string>-(bool) editable</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>editable</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string></string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>UUID</key>
			<string>1BC369B4-90AF-4804-BCF3-28D13713092C</string>
			<key>apiVersion</key>
			<integer>3</integer>
			<key>appIdentifier</key>
			<string>com.QrCode.GreateCode</string>
			<key>appVersion</key>
			<string>1.0.1</string>
			<key>cloudDescription</key>
			<string></string>
			<key>name</key>
			<string>FQ二维码(番茄影视)去广告</string>
			<key>switchedOn</key>
			<false/>
			<key>units</key>
			<array>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>BUAdSlot</string>
						<key>displayName</key>
						<string>-(void) setAdType:(long long)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setAdType:</string>
						<key>typeEncoding</key>
						<string>v24@0:8q16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setAdType:(long long)</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>BUSplashPreloader</string>
						<key>displayName</key>
						<string>-(void) setTimeout:(double)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setTimeout:</string>
						<key>typeEncoding</key>
						<string>v24@0:8d16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setTimeout:(double)</string>
					<key>overrides</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
